@charset "UTF-8";
hr {
	width: 400px;
}
form{
	text-align: center;
	position: relative;
	width: 100%;
	height: auto;
	background-color: blue;
	float: left;
}

#login-content{
	text-align: center;
}

#logo {
	width: 300px;
	height: 150px;
}

#login-info {
	margin-top: 10px;
}


#id-pw {
	padding: 10px;
	margin: 5px;
}

input.login-info {
	width: 350px;
	height: 60px;
	margin: 5px;
	border-radius: 7px;
}

#login-btn, #join-btn, #find-id-btn, #find-pw-btn {
	margin: 10px;
	width: 350px;
	height: 50px;
	border-radius: 7px;
	background-color: #bbc4bc;
}

#login-btn {
	margin-bottom: 3px;
}

#login-btn:hover {
	background-color: rgb(163, 163, 194);
}

#other-op {
	width: 100%;
	height: 50px;
	margin-top: 20px;
	position: relative;
}

#other-op a {
	display: inline-block;
	}

#join {
}

#join-content{
	margin: 0 auto;
	text-align: center;
	width: 700px;
	height:auto;
	left:30%;
}

input.join-info {
	text-align: center;
}

#join-info {
	display:inline-block;
	text-align: center;
	margin: 0 auto;
}


#info1, #info_addr{
	text-align: left;
}

input.info1, input.addr {
	margin: 5px;
	width: 400px;
	height: 40px;
	border-radius: 7px;
}

#join-btn:hover {
	background-color: rgb(163, 163, 194);
}



#text_area {
	width:500px;
	height: 900px;
	background-color: fuchsia;
	position: relative;
}

#text_area .text_1 {
	width:300px;
	height: 300px;
	background-color: gray;
	overflow: scroll;
	position: absolute;
}